<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    [extraAttributes]="extraAttributes"
    [childMarkup]="childMarkup"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <ea-button (clicked)="open.set(true)">
      {{ messages().ui.component.demos.drawer.openButton }}
    </ea-button>
    <ea-drawer
      [(open)]="open"
      [mode]="state().mode"
      [position]="state().position"
      [size]="state().size"
      [closeOnBackdrop]="state().closeOnBackdrop"
      [closeOnEscape]="state().closeOnEscape"
      [animation]="state().animation"
      [showClose]="state().showClose">
      <span slot="header">{{ content().title }}</span>
      <p>{{ content().body }}</p>
      <span slot="footer">
        <ea-button
          variant="secondary"
          (clicked)="open.set(false)">
          {{ messages().ui.component.common.cancel }}
        </ea-button>
        <ea-button (clicked)="open.set(false)">
          {{ messages().ui.component.common.save }}
        </ea-button>
      </span>
    </ea-drawer>
  </web-component-playground>
</web-ui-component-demo-layout>
