<web-ui-component-demo-layout slug="segmented">
  <h2>{{ messages().ui.component.sectionHeadings.basic }}</h2>
  <ea-segmented
    [options]="segmentedViewOptions()"
    [(value)]="segmentedValue" />

  <h2>{{ messages().ui.component.sectionHeadings.twoOptions }}</h2>
  <ea-segmented [options]="segmentedThemeOptions()" />

  <h2>{{ messages().ui.component.sectionHeadings.sizes }}</h2>
  <div class="demo-row">
    <ea-segmented
      size="sm"
      [options]="segmentedThemeOptions()" />
    <ea-segmented
      size="md"
      [options]="segmentedThemeOptions()" />
    <ea-segmented
      size="lg"
      [options]="segmentedThemeOptions()" />
  </div>

  <h2>{{ messages().ui.component.sectionHeadings.fullWidth }}</h2>
  <ea-segmented
    [fullWidth]="true"
    [options]="segmentedViewOptions()" />

  <h2>{{ messages().ui.component.sectionHeadings.disabled }}</h2>
  <ea-segmented
    [disabled]="true"
    [options]="segmentedViewOptions()" />

  <h2>{{ messages().ui.component.sectionHeadings.withLabel }}</h2>
  <ea-segmented
    [label]="messages().ui.component.demos.segmented.viewLabel"
    [options]="segmentedViewOptions()"
    [(value)]="segmentedValue" />

  <h2>{{ messages().ui.component.sectionHeadings.requiredWithHint }}</h2>
  <ea-segmented
    [label]="messages().ui.component.demos.segmented.themeLabel"
    [hint]="messages().ui.component.demos.segmented.themeHint"
    [required]="true"
    [options]="segmentedThemeOptions()" />

  <h2>{{ messages().ui.component.sectionHeadings.withError }}</h2>
  <ea-segmented
    [label]="messages().ui.component.demos.segmented.layoutLabel"
    [errorMsg]="messages().ui.component.demos.segmented.layoutError"
    [options]="segmentedViewOptions()" />
</web-ui-component-demo-layout>
