<article class="web-page ui-accessibility">
  <header class="ui-accessibility__header">
    <h1 class="ui-accessibility__title">{{ messages().ui.accessibility.title }}</h1>
    <ea-divider />
    <p class="ui-accessibility__lede">{{ messages().ui.accessibility.lede }}</p>
  </header>

  <section
    id="conformance"
    class="web-section ui-accessibility__section">
    <web-section-heading fragment="conformance">
      <h2>{{ messages().ui.accessibility.conformanceHeading }}</h2>
    </web-section-heading>
    <p [innerHTML]="messages().ui.accessibility.conformanceBody"></p>
    <h3 class="ui-accessibility__subheading">{{
      messages().ui.accessibility.testingHeading
    }}</h3>
    <p [innerHTML]="messages().ui.accessibility.testingBody"></p>
  </section>

  <section
    id="built-in"
    class="web-section ui-accessibility__section">
    <web-section-heading fragment="built-in">
      <h2>{{ messages().ui.accessibility.builtInHeading }}</h2>
    </web-section-heading>
    <ul
      class="ui-accessibility__feature-list"
      role="list">
      @for (
        item of messages().ui.accessibility.builtInItems;
        track item.title;
        let i = $index
      ) {
        <li class="ui-accessibility__feature">
          <header class="ui-accessibility__feature-header">
            <span
              class="ui-accessibility__feature-icon"
              aria-hidden="true">
              @switch (i) {
                @case (0) {
                  <ea-icon-code />
                }
                @case (1) {
                  <ea-icon-command />
                }
                @case (2) {
                  <ea-icon-target />
                }
                @case (3) {
                  <ea-icon-volume-2 />
                }
                @case (4) {
                  <ea-icon-pause-circle />
                }
                @default {
                  <ea-icon-eye />
                }
              }
            </span>
            <h3>{{ item.title }}</h3>
          </header>
          <p>{{ item.body }}</p>
        </li>
      }
    </ul>
  </section>

  <section
    id="accessible-names"
    class="web-section ui-accessibility__section">
    <web-section-heading fragment="accessible-names">
      <h2>{{ messages().ui.accessibility.labelsHeading }}</h2>
    </web-section-heading>
    <p [innerHTML]="messages().ui.accessibility.labelsBefore"></p>
    <web-code-snippet [code]="labelsSnippet" />
    <p [innerHTML]="messages().ui.accessibility.labelsAfter"></p>
  </section>
</article>
