<web-ui-component-demo-layout slug="switch">
  <h2>{{ messages().ui.component.sectionHeadings.basic }}</h2>
  <ea-switch
    [label]="messages().ui.component.demos.switch.enableNotificationsLabel"
    [(checked)]="switchValue" />

  <h2>{{ messages().ui.component.sectionHeadings.sizes }}</h2>
  <div class="demo-row">
    <ea-switch size="sm" />
    <ea-switch size="md" />
    <ea-switch size="lg" />
  </div>

  <h2>{{ messages().ui.component.sectionHeadings.states }}</h2>
  <div class="demo-row">
    <ea-switch
      [label]="messages().ui.component.demos.switch.enableNotificationsLabel"
      [disabled]="true" />
    <ea-switch
      [label]="messages().ui.component.demos.switch.disabledOnLabel"
      [disabled]="true"
      [checked]="true" />
  </div>

  <h2>{{ messages().ui.component.sectionHeadings.required }}</h2>
  <ea-switch
    [label]="messages().ui.component.demos.switch.confirmConsentLabel"
    [required]="true" />

  <h2>{{ messages().ui.component.sectionHeadings.withHint }}</h2>
  <ea-switch
    [label]="messages().ui.component.demos.switch.marketingEmailsLabel"
    [hint]="messages().ui.component.demos.switch.marketingEmailsHint" />

  <h2>{{ messages().ui.component.sectionHeadings.withError }}</h2>
  <ea-switch
    [label]="messages().ui.component.demos.switch.twoFactorAuthLabel"
    [errorMsg]="messages().ui.component.demos.switch.twoFactorAuthError" />
</web-ui-component-demo-layout>
