@let table = messages().ui.component.demos.dataTable;

<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    [extraAttributes]="extraAttributes"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <ea-data-table
      class="demo-data-table"
      [class.demo-sticky-table]="state().stickyHeader"
      [columns]="tableColumns()"
      [data]="tableData"
      [sizingRows]="tableData"
      [caption]="state().caption"
      [density]="state().density"
      [size]="state().size"
      [striped]="state().striped"
      [bordered]="state().bordered"
      [nowrap]="state().nowrap"
      [layout]="state().layout"
      [hoverable]="state().hoverable"
      [stickyHeader]="state().stickyHeader"
      [navigable]="state().navigable"
      [clickable]="state().clickable"
      [loading]="state().loading"
      [loadingRowCount]="state().loadingRowCount"
      (rowContextMenu)="openRowMenu(rowMenu, $event)" />
    <p class="demo-hint">{{ table.rowMenuHint }}</p>
    <ea-menu
      #rowMenu
      [aria-label]="table.rowMenuLabel">
      <ea-menu-item (clicked)="chooseRowAction(table.rowMenuView)">
        {{ table.rowMenuView }}
      </ea-menu-item>
      <ea-menu-item
        variant="danger"
        (clicked)="chooseRowAction(table.rowMenuDelete)">
        {{ table.rowMenuDelete }}
      </ea-menu-item>
    </ea-menu>
  </web-component-playground>
</web-ui-component-demo-layout>
