<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    [extraAttributes]="extraAttributes"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <p class="demo-preview">
      {{
        messages().ui.component.demos.virtualList.scrollPosition(
          visibleIndex() + 1,
          rows.length
        )
      }}
    </p>
    <ea-virtual-list
      [items]="rows"
      [itemHeight]="state().itemHeight"
      [viewportHeight]="state().viewportHeight"
      [overscan]="state().overscan"
      (scrollIndexChange)="onScrollIndex($event)">
      <ng-template
        #item
        let-row
        let-i="index">
        <div
          class="virtual-list-demo__row"
          [class.virtual-list-demo__row--striped]="i % 2 === 1">
          <strong>{{ row.label }}</strong>
          <span>{{ row.detail }}</span>
        </div>
      </ng-template>
    </ea-virtual-list>
  </web-component-playground>
</web-ui-component-demo-layout>
