<web-ui-component-demo-layout slug="range-slider">
  <h2>{{ messages().ui.component.sectionHeadings.basic }}</h2>
  <ea-range-slider
    label="Price range"
    [showValue]="true"
    [(value)]="rangeSliderValue" />

  <h2>{{ messages().ui.component.sectionHeadings.withMinMaxLabels }}</h2>
  <ea-range-slider
    label="Price range"
    [showValue]="true"
    [showMinMaxLabels]="true"
    [value]="[20, 80]" />

  <h2>{{ messages().ui.component.sectionHeadings.stepped }}</h2>
  <ea-range-slider
    label="Stops"
    [min]="0"
    [max]="10"
    [step]="1"
    [showValue]="true"
    [showMinMaxLabels]="true"
    [value]="[3, 7]" />

  <h2>{{ messages().ui.component.sectionHeadings.hintAndError }}</h2>
  <div class="demo-stack">
    <ea-range-slider
      label="With hint"
      hint="Drag either thumb or use arrow keys"
      [value]="[20, 80]" />
    <ea-range-slider
      label="With error"
      errorMsg="Range must span at least 30"
      [value]="[20, 80]" />
  </div>

  <h2>{{ messages().ui.component.sectionHeadings.sizes }}</h2>
  <ea-range-slider
    size="sm"
    [label]="messages().ui.component.common.small"
    [value]="[20, 80]" />
  <ea-range-slider
    size="md"
    [label]="messages().ui.component.common.medium"
    [value]="[20, 80]" />
  <ea-range-slider
    size="lg"
    [label]="messages().ui.component.common.large"
    [value]="[20, 80]" />

  <h2>{{ messages().ui.component.sectionHeadings.disabled }}</h2>
  <ea-range-slider
    [label]="messages().ui.component.common.disabled"
    [disabled]="true"
    [value]="[20, 80]" />
</web-ui-component-demo-layout>
