<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <ea-tag
      [variant]="state().variant"
      [size]="state().size"
      [maxWidth]="state().maxWidth"
      [color]="state().color || undefined"
      [tooltip]="state().tooltip"
      [removable]="state().removable"
      [disabled]="state().disabled"
      [uppercase]="state().uppercase"
      [removeLabel]="state().removeLabel">
      {{ state().text }}
    </ea-tag>
  </web-component-playground>
</web-ui-component-demo-layout>
