<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <div
      class="demo-tooltip-trigger"
      tabindex="0"
      [eaTooltip]="state().eaTooltip"
      [tooltipPosition]="state().tooltipPosition"
      [maxWidth]="state().maxWidth">
      {{ messages().ui.component.demos.tooltip.triggerLabel }}
    </div>
  </web-component-playground>
</web-ui-component-demo-layout>
