<web-ui-component-demo-layout slug="badge">
  <h2>{{ messages().ui.component.sectionHeadings.variants }}</h2>
  <div class="demo-row">
    <ea-badge variant="default">
      {{ messages().ui.component.common.defaultLabel }}
    </ea-badge>
    <ea-badge variant="success">
      {{ messages().ui.component.demos.badge.successText }}
    </ea-badge>
    <ea-badge variant="warning">
      {{ messages().ui.component.demos.badge.warningText }}
    </ea-badge>
    <ea-badge variant="error">
      {{ messages().ui.component.common.errorLabel }}
    </ea-badge>
    <ea-badge variant="info">
      {{ messages().ui.component.demos.badge.newText }}
    </ea-badge>
  </div>

  <h2>{{ messages().ui.component.sectionHeadings.sizes }}</h2>
  <div class="demo-row">
    <ea-badge size="sm">{{ messages().ui.component.common.small }}</ea-badge>
    <ea-badge size="md">{{ messages().ui.component.common.medium }}</ea-badge>
    <ea-badge size="lg">{{ messages().ui.component.common.large }}</ea-badge>
  </div>

  <h2>{{ messages().ui.component.sectionHeadings.shapes }}</h2>
  <div class="demo-row">
    <ea-badge shape="pill">1</ea-badge>
    <ea-badge shape="pill">15</ea-badge>
    <ea-badge shape="pin">1</ea-badge>
    <ea-badge shape="pin">15</ea-badge>
  </div>
</web-ui-component-demo-layout>
