<web-ui-component-demo-layout slug="autocomplete">
  <h2>{{ messages().ui.component.sectionHeadings.basic }}</h2>
  <ea-autocomplete
    [placeholder]="messages().ui.component.demos.autocomplete.startTyping"
    [options]="autocompleteOptions"
    [maxResults]="autocompleteOptions.length"
    [(value)]="autocompleteValue" />

  <h2>{{ messages().ui.component.sectionHeadings.withHint }}</h2>
  <ea-autocomplete
    [hint]="messages().ui.component.demos.autocomplete.hintText"
    [options]="autocompleteOptions"
    [maxResults]="autocompleteOptions.length"
    [placeholder]="messages().ui.component.demos.autocomplete.breedPlaceholder" />

  <h2>{{ messages().ui.component.sectionHeadings.withError }}</h2>
  <ea-autocomplete
    [errorMsg]="messages().ui.component.demos.autocomplete.errorText"
    [options]="autocompleteOptions"
    [maxResults]="autocompleteOptions.length"
    [placeholder]="messages().ui.component.demos.autocomplete.breedPlaceholder" />

  <h2>{{ messages().ui.component.sectionHeadings.sizes }}</h2>
  <div class="demo-stack">
    <ea-autocomplete
      size="sm"
      [label]="messages().ui.component.common.small"
      [options]="autocompleteOptions"
      [maxResults]="autocompleteOptions.length"
      [placeholder]="messages().ui.component.demos.autocomplete.breedPlaceholder" />
    <ea-autocomplete
      size="md"
      [label]="messages().ui.component.common.medium"
      [options]="autocompleteOptions"
      [maxResults]="autocompleteOptions.length"
      [placeholder]="messages().ui.component.demos.autocomplete.breedPlaceholder" />
    <ea-autocomplete
      size="lg"
      [label]="messages().ui.component.common.large"
      [options]="autocompleteOptions"
      [maxResults]="autocompleteOptions.length"
      [placeholder]="messages().ui.component.demos.autocomplete.breedPlaceholder" />
  </div>

  <h2>{{ messages().ui.component.sectionHeadings.minLengthMaxResults }}</h2>
  <ea-autocomplete
    [label]="messages().ui.component.demos.autocomplete.minMaxLabel"
    [minLength]="2"
    [maxResults]="3"
    [options]="autocompleteOptions"
    [placeholder]="messages().ui.component.demos.autocomplete.minMaxPlaceholder" />

  <h2>{{ messages().ui.component.sectionHeadings.disabled }}</h2>
  <ea-autocomplete
    [disabled]="true"
    [options]="autocompleteOptions"
    [placeholder]="messages().ui.component.demos.autocomplete.startTyping" />
</web-ui-component-demo-layout>
