<web-ui-component-demo-layout slug="autocomplete">
  <h2>{{ messages().ui.component.sectionHeadings.basic }}</h2>
  <ea-autocomplete
    [label]="messages().ui.component.demos.autocomplete.frameworkLabel"
    [placeholder]="messages().ui.component.demos.autocomplete.startTyping"
    [options]="autocompleteOptions"
    [(value)]="autocompleteValue" />

  <h2>{{ messages().ui.component.sectionHeadings.hintAndError }}</h2>
  <ea-autocomplete
    [label]="messages().ui.component.demos.autocomplete.withHintLabel"
    [hint]="messages().ui.component.demos.autocomplete.hintText"
    [options]="autocompleteOptions"
    [placeholder]="messages().ui.component.demos.autocomplete.frameworkPlaceholder" />
  <ea-autocomplete
    [label]="messages().ui.component.demos.autocomplete.withErrorLabel"
    [errorMsg]="messages().ui.component.demos.autocomplete.errorText"
    [options]="autocompleteOptions"
    [placeholder]="messages().ui.component.demos.autocomplete.frameworkPlaceholder" />

  <h2>{{ messages().ui.component.sectionHeadings.sizes }}</h2>
  <ea-autocomplete
    size="sm"
    [label]="messages().ui.component.common.small"
    [options]="autocompleteOptions"
    placeholder="sm" />
  <ea-autocomplete
    size="md"
    [label]="messages().ui.component.common.medium"
    [options]="autocompleteOptions"
    placeholder="md" />
  <ea-autocomplete
    size="lg"
    [label]="messages().ui.component.common.large"
    [options]="autocompleteOptions"
    placeholder="lg" />

  <h2>{{ messages().ui.component.sectionHeadings.minLengthMaxResults }}</h2>
  <ea-autocomplete
    [label]="messages().ui.component.demos.autocomplete.minMaxLabel"
    [minLength]="2"
    [maxResults]="3"
    [options]="autocompleteOptions"
    [placeholder]="messages().ui.component.demos.autocomplete.minMaxPlaceholder" />

  <h2>{{ messages().ui.component.sectionHeadings.disabled }}</h2>
  <ea-autocomplete
    [label]="messages().ui.component.common.disabled"
    [disabled]="true"
    [options]="autocompleteOptions"
    [placeholder]="messages().ui.component.common.disabled" />
</web-ui-component-demo-layout>
