<header class="web-header">
  <a
    class="web-header__brand"
    [class.web-header__brand--hidden]="!brandVisible()"
    [attr.aria-hidden]="!brandVisible() ? 'true' : null"
    [attr.tabindex]="brandVisible() ? null : -1"
    routerLink="/"
    [attr.aria-label]="messages().common.brandHome">
    <ea-icon-eagami class="web-header__brand-icon" />
    <span class="web-header__brand-text">eagami</span>
  </a>
  <nav
    class="web-header__nav"
    aria-label="Primary">
    <a
      class="web-header__link"
      routerLink="/ui"
      routerLinkActive="web-header__link--active"
      [eaTooltip]="messages().common.navUiTooltip"
      tooltipPosition="bottom">
      {{ messages().common.navUi }}
    </a>
    <web-locale-switcher />
    <web-theme-toggle />
  </nav>
</header>
