<footer class="web-footer">
  <p class="web-footer__copyright">© {{ currentYear }} eagami</p>
  <nav
    class="web-footer__links"
    aria-label="Footer">
    <a
      class="web-footer__link"
      href="https://www.npmjs.com/package/@eagami/ui"
      target="_blank"
      rel="noopener noreferrer">
      npm
    </a>
    <a
      class="web-footer__link web-footer__link--icon"
      href="https://github.com/mwiraszka/eagami"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="eagami on GitHub">
      <ea-icon-github />
    </a>
  </nav>
</footer>
