<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    [extraAttributes]="extraAttributes"
    [childMarkup]="childMarkup"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <button
      #anchorEl
      type="button"
      class="demo-popover-trigger"
      (click)="open.set(!open())">
      {{ messages().ui.component.demos.popover.openLabel }}
    </button>
    <ea-popover
      [anchor]="anchorEl"
      [open]="open()"
      [placement]="state().placement"
      [role]="state().role"
      [offset]="state().offset"
      [flip]="state().flip"
      [clamp]="state().clamp"
      [matchAnchorWidth]="state().matchAnchorWidth"
      [closeOnEscape]="state().closeOnEscape"
      [closeOnOutsideClick]="state().closeOnOutsideClick"
      [scrollBehavior]="state().scrollBehavior"
      (closeRequested)="open.set(false)">
      <div class="demo-popover-content">
        {{ messages().ui.component.demos.popover.basicContent }}
      </div>
    </ea-popover>
  </web-component-playground>
</web-ui-component-demo-layout>
