<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    [childMarkup]="childMarkup()"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <ea-tabs
      [size]="state().size"
      [variant]="state().variant">
      @for (tab of tabs; track tab.value) {
        <ea-tab
          [value]="tab.value"
          [label]="tab.label">
          {{ tab.content }}
        </ea-tab>
      }
    </ea-tabs>
  </web-component-playground>
</web-ui-component-demo-layout>
