@use 'mixins' as mixins;

:host {
  display: inline-flex;
  align-items: center;
}

.web-locale-switcher__trigger {
  @include mixins.icon-button;
}

.web-locale-switcher__icon {
  width: 1em;
  height: 1em;
}

.web-locale-switcher__item {
  display: inline-flex;
  flex: 1;
  align-items: center;
  gap: 8px;
  min-width: 160px;
}

.web-locale-switcher__flag {
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 1;
}

.web-locale-switcher__name {
  flex: 1;
}

.web-locale-switcher__check {
  display: inline-flex;
  flex-shrink: 0;
  color: var(--color-text-brand);
}
