<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <ea-button
      variant="secondary"
      (clicked)="showToast('default')">
      {{ messages().ui.component.common.defaultLabel }}
    </ea-button>
    <ea-button
      variant="secondary"
      (clicked)="showToast('success')">
      {{ messages().ui.component.common.successLabel }}
    </ea-button>
    <ea-button
      variant="secondary"
      (clicked)="showToast('warning')">
      {{ messages().ui.component.common.warningLabel }}
    </ea-button>
    <ea-button
      variant="secondary"
      (clicked)="showToast('error')">
      {{ messages().ui.component.common.errorLabel }}
    </ea-button>
    <ea-button
      variant="secondary"
      (clicked)="showToast('info')">
      {{ messages().ui.component.common.infoLabel }}
    </ea-button>
  </web-component-playground>
</web-ui-component-demo-layout>
