<web-ui-component-demo-layout
  [slug]="slug"
  [bare]="true">
  <web-component-playground
    playgroundHost
    [slug]="slug"
    [knobs]="knobs"
    [state]="state()"
    [extraAttributes]="extraAttributes"
    [childMarkup]="childMarkup"
    (knobChange)="onKnob($event)"
    (resetClicked)="reset()">
    <ea-button
      [eaMenuTrigger]="menuRef"
      [disabled]="state().disabled">
      {{ messages().ui.component.demos.menu.openButton }}
    </ea-button>
    <ea-menu
      #menuRef
      [placement]="state().placement"
      [size]="state().size"
      [disabled]="state().disabled"
      [maxHeight]="state().maxHeight"
      [aria-label]="state().ariaLabel">
      <ea-menu-item>{{ messages().ui.component.demos.menu.edit }}</ea-menu-item>
      <ea-menu-item>
        {{ messages().ui.component.demos.menu.duplicate }}
      </ea-menu-item>
      <ea-menu-item>
        {{ messages().ui.component.demos.menu.archive }}
      </ea-menu-item>
      <ea-menu-item variant="danger">
        {{ messages().ui.component.demos.menu.delete }}
      </ea-menu-item>
    </ea-menu>
  </web-component-playground>
</web-ui-component-demo-layout>
