<web-ui-component-demo-layout slug="divider">
  <h2>{{ messages().ui.component.sectionHeadings.horizontal }}</h2>
  <ea-divider />
  <ea-divider [label]="messages().ui.component.demos.divider.orLabel" />
  <ea-divider [label]="messages().ui.component.demos.divider.sectionLabel" />

  <h2>{{ messages().ui.component.sectionHeadings.vertical }}</h2>
  <div class="demo-row demo-divider-row">
    <span>{{ messages().ui.component.demos.divider.leftLabel }}</span>
    <ea-divider orientation="vertical" />
    <span>{{ messages().ui.component.demos.divider.rightLabel }}</span>
  </div>
</web-ui-component-demo-layout>
